.features{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width:1300px;
  margin:0 auto;
}
.feature{
  flex-grow: 1;
  flex-basis:30%;

}
.f-wraper{
   width:350px;
   background: #0000007d;
   height: 120px;
   padding:20px;
   border-radius: 5px;
}
.f-title{
  font-size:20px;
}
.f-content{
  width:350px;
  margin:10px auto;
}
.f-content a{
  color:white;
}
.quick-start{
  margin:100px auto;
  background: #ea4c4c;
  color:white;
  padding:10px 10px;
  width:100px;
  display: block;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.heart-color{
  color:#ea4c4c;
}
#kaikai-logo{
  width:80px;
  height:30px;
  text-align:center;
  line-height:30px;
  font-size:12px;
  font-weight:bolder;
  background:red;
  color:white;
  letter-spacing:2px;
  border-radius:3px 3px 10px 10px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
  transform: rotate(90deg);
  transform-origin: top right;
  position:absolute;
  right:0;
  top:250px;
}
.bg {
  padding:0;
  position: relative;
  background: url(https://images.unsplash.com/photo-1510256024294-cfce23b259c3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=db823bc279e83b297eb3f06402acf6f9) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  min-height: 500px;
  letter-spacing: 2px;
  height:100vh;
  overflow: hidden;
}
.nav-name{
   font-size:55px;
   margin-top:110px;
}
.nav-intro{
  margin-top:20px;
   font-size: 16px;
  color: #e8f380;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 15px;
  display:inline-block;
}
.dash-down{
  display:inline-block;
  height:100px;
  border-left:2px dashed white;
  margin-top:30px;
}
.heart{
  position:relative;
  font-size: 12px;
  display:inline-block;
  left:-2em;
}
.heart:hover .squar,.heart:hover .circle{
  animation-play-state: paused;
}
.squar{
  width:2em;
  height:2em;
  left:1em;
  top:1em;
}
.circle{
  width:2em;
  height:2em;
  border-radius:50%;
  top:.15em;
}
.left{
  left:.15em;
}
.right{
  left:1.85em;
}
.squar,.circle{
  background:#d5093c;
  position:absolute;
  -webkit-animation: beat 0.8s  infinite;
  -moz-animation: beat 0.8s  infinite;
  animation: beat 0.8s  infinite;
}
@keyframes beat {
    0% {transform: scale(1) rotate(45deg) skew(10deg); box-shadow:0 0 .35em #d5093c;}
    30% {transform: scale(1.03) rotate(45deg);  box-shadow:0 0 1.3em #d5093c;}
  61.8%{transform: scale(1.0618) rotate(45deg);  box-shadow:0 0 1.4em #d5093c;}
    100% {transform: scale(1) rotate(45deg); box-shadow:0 0 1em #d5093c;}
}

