<div class="bg" >
  <div id="kaikai-logo">mdblog</div>
  <div class="nav-name">MDBLOG</div>
  <div class="nav-intro">一个基于markdown静态网页生成器</div>
  <br/>
  <div class="dash-down"></div>
  <br/>
  <div class="heart">
    <div class="circle left"></div>
    <div class="squar"></div>
    <div class="circle right"></div>
  </div>
  <a class="quick-start" href="./1.MDBLOG说明书.html">搞起 →</a>
  <div class="features">
    <div class="feature">
      <div class="f-wraper">
        <div class="f-title">支持markdown</div>
        <div class="f-content">
          以markdown文件为中心，生成github markdown样式风格静态页面。
        </div>
      </div>
    </div>
    <div class="feature">
      <div class="f-wraper">
        <div class="f-title">定制UI，无上手成本</div>
        <div class="f-content">
          没有繁杂的layout配置，回归html,css,js,以本该有的方式自定义导航，主页。
        </div>
      </div>
    </div>
    <div class="feature">
      <div class="f-wraper">
        <div class="f-title">会有bug</div>
        <div class="f-content">
          欢迎大家来提 <a href="https://github.com/nigulasikk/mdblog" target="_blank">issue</a>
        </div>
      </div>
    </div>
  </div>


</div>
