<!-- 开发测试专用 -->
<div class="post-bg">
  <div class="post-item">
      <div class="post-pic"> 
      <img src="../../assets/bg.jpeg" height="200" alt="love"/>
      </div>
      <div class="post-detail">
        <div class="post-category">技术</div>
        <br/>
        <div class="post-title"> 
          <a href=""> 第一篇文章dry标题 </a>
      </div>
        <div class="post-content"> 文章简介文章简介文章简介文章简介文章简介文文章简介文章简介文章简介文章文章简介文章简介文章简介文章文章简介文章简介文章简介文章文章简介文章简介文章简介文章文章简介文章简介文章简介文章章简介文章简介文章简介文章简介文章简介文章简介 </div>
        <div class="post-date">
          2018-9-9
        </div>
      </div>
  </div>
  
</div>