.post-pic,.post-detail{
  display:inline-block;
  vertical-align:top;
}
.post-pic{
  width:200px;
  overflow:hidden;
}
.post-detail{
  padding:20px;
  max-width:346px;
}
.post-item {
  width:600px;
  height: 200px;
  margin:20px auto;
    background: #fff;
    box-shadow: 0 0.1875rem 1.5rem rgba(0, 0, 0, 0.2);
    border-radius: 0.375rem;
    overflow: hidden;
    color: #121212;
}
.post-category {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.0625rem;
    margin: 0 0 0.5rem 0;
    border-bottom: 0.125rem solid #ebebeb;
}
.post-date {
    font-size: 0.875rem;
    line-height: 1;
    margin: 1.125rem 0 0 0;
    padding: 1.125rem 0 0 0;
    border-top: 0.0625rem solid #ebebeb;
    text-align: right;
}

.post-content{
  font-size: 14px;
  overflow: hidden;
  height: 40px;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.post-item:hover .post-title a{
  color:#ea4c4c;
    cursor: pointer;
}
.post-title {
    transition: color 0.2s ease;
    font-size: 1.125rem;
    line-height: 1.4;
    color: #121212;
    font-weight: 700;
    margin: 0 0 .8rem 0;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.post-title a{
    text-decoration: none;
    color: #121212;
}
.post-bg {
    background: #f7f7f7;
    border-top: 1px solid rgba(191, 191, 191, 0.4);
    border-bottom: 1px solid rgba(191, 191, 191, 0.4);
}