body,html{
  padding:0;
  margin:0;
  font-family: "Telefon Black", Sans-Serif;
}
.markdown-body{
  width:1200px;
  margin:20px auto;
  box-shadow: 0px 0px 8px #a8a7a736;
  padding:50px;
  margin-top:90px;
}
.nav-wraper{
  height: 50px;
  line-height: 50px;
  width:100%;
  box-shadow: 1px 3px 3px #a8a7a736;
  position: fixed;
  top:0;
  z-index: 3;
  background: white;
}
.nav-item{
  display: inline-block;
  margin-left:80px;
  color:#333333;
  font-size: 20px;
}
.nav-item:first-child{
  margin-left:200px;
}
.nav-item a{
  color:black;
  text-decoration: none;
  border-bottom: 3px solid white;
}
.nav-item a:hover{
  color:#ea4c4c;
  border-bottom: 3px solid #ea4c4c;
}
